@theme {
  /* Colors */
  --color-surface-white: #fffce1;
  --color-just-black: #0e100f;
  --color-surface-50: #7c7c6f;
  --color-surface-75: #bbbaa6;
  --color-shockingly-green: #0ae448;
  --color-pink: #fec5fb;
  --color-orangey: #ff8709;
  --color-lilac: #9d95ff;
  --color-blue: #00bae2;
  --color-lt-green: #abff84;

  /* Spacing */
  --spacing-spacing-3: 3px;
  --spacing-spacing-5: 5px;
  --spacing-spacing-7: 7.1px;
  --spacing-spacing-8: 8px;
  --spacing-spacing-10: 10px;
  --spacing-spacing-13: 13px;
  --spacing-spacing-14: 14px;
  --spacing-spacing-15: 15px;
  --spacing-spacing-16: 16px;
  --spacing-spacing-18: 18px;
  --spacing-spacing-20: 20px;
  --spacing-spacing-22: 22px;
  --spacing-spacing-24: 24px;
  --spacing-spacing-27: 27px;
  --spacing-spacing-32: 32px;
  --spacing-spacing-39: 39px;
  --spacing-spacing-57: 57.4px;
  --spacing-spacing-62: 62.1px;
  --spacing-spacing-85: 84.9px;
  --spacing-spacing-480: 479.9px;

  /* Border Radius */
  --radius-radius-sharp: 0px;
  --radius-radius-sm: 7px;
  --radius-radius-md: 8px;
  --radius-radius-pill: 100px;

  /* Fonts */
  --font-mori: "Mori", sans-serif;

}