@theme {
  /* Colors */
  --color-gray-1000: #171717;
  --color-gray-200: #ebebeb;
  --color-background-200: #fafafa;
  --color-background-100: #ffffff;
  --color-gray-900: #4d4d4d;
  --color-gray-700: #666666;
  --color-gray-600: #8f8f8f;
  --color-black: #000000;
  --color-blue-700: #0070f3;

  /* Spacing */
  --spacing-space-1: 2px;
  --spacing-space-2: 4px;
  --spacing-space-3: 6px;
  --spacing-space-4: 8px;
  --spacing-space-5: 12px;
  --spacing-space-6: 16px;
  --spacing-space-7: 20px;
  --spacing-space-8: 24px;
  --spacing-space-9: 32px;
  --spacing-space-10: 40px;
  --spacing-space-11: 44px;
  --spacing-space-12: 80px;

  /* Border Radius */
  --radius-radius-sm: 2px;
  --radius-radius-md: 4px;
  --radius-radius-lg: 6px;
  --radius-radius-pill: 9999px;

  /* Fonts */
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", sans-serif;

}